body {}

.Login {}
.Login label {color:#303030;font-family:Arial;font-size:14px;font-weight: Normal;}
.Login .LoginCuadradoHeader {}
.Login .LoginCentro {background:url(../../App_Theme/Imagenes/LoginCuadroCenterBack.png); width:400px;}
.Login .LoginCentro .LoginUsuario {padding: 20px 0 10px 0;width:400px;margin-right: -27px;}
.Login .LoginCentro .LoginPass {padding: 10px 0 20px 0;width:400px;}
.Login .LoginCentro .LoginPass a {color: #0b9dcd;font-family: Arial;font-size: 11px;font-weight: bold;margin-left: 62px;text-decoration: none;}
.Login .LoginCentro img {padding: 0 0 0 5px}
.Login .LoginCuadradoFooter {background:url(../../App_Theme/Imagenes/LoginCuadroFooter.png);height:69px;width:400px;}
.Login .LoginCuadradoFooter input {display: block;padding: 15px 22px 0 0;float: right;}

.cabezaResumen 
{
	background-image: url(../../App_Theme/Imagenes/ContendorCab.png);	
	background-repeat: no-repeat;
	margin: 0px auto;
	width: 700px;
	height: 29px;
	font-size:14px;
	text-align: left;	
}

.tablaResumenEntidad
{
	background-image: url(../../App_Theme/Imagenes/DJCuadroTituloG.png);
	background-position: bottom;
	background-repeat: no-repeat;
	margin: 0px auto;
	width: 700px;
	text-align: left;
	color: #303030;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;    
    margin-top:-6px;
    margin-bottom:-6px;
    /*letter-spacing: 1px;*/
}

.tablaResumenEntidad span {color: #303030;font-family: Arial;font-size: 14px;font-weight: normal;margin-left: 30px;}

.tablaResumenEntidad .WorkFlowButtons .btnVolver {margin-top: 50px;margin-left: 180px;}
.tablaResumenEntidad .WorkFlowButtons .btnConfirmar {margin-top: 50px;}
/*--Empieza efectos para Botones--*/
.btnContinuarEF
{
	display:inline-block;
	width:134px;
	height:35px;
	background-image: url(../../App_Theme/Imagenes/btnContinuar.png);
	margin-top: 10px;
}
.btnContinuarEF:hover, WorkFlowButtons .btnconfirmar:focus 
{
	display:inline-block;
	width:134px;
	height:35px;
	background-image: url(../../App_Theme/Imagenes/btnContinuarh.png);
	margin-top: 10px;
}
.btnConfirmarEF
{
	display:inline-block;
	width:140px;
	height:35px;
	background-image: url(../../App_Theme/Imagenes/btnconfirmar.png);
	margin-top: 10px;
}
.btnConfirmarEF:hover, WorkFlowButtons .btnconfirmar:focus 
{
	display:inline-block;
	width:140px;
	height:35px;
	background-image: url(../../App_Theme/Imagenes/btnconfirmarh.png);
	margin-top: 10px;
}
.btnVolverEF
{
	display:inline-block;
	width:120px;
	height:35px;
	background-image: url(../../App_Theme/Imagenes/btnvolver.png);
	margin-top: 10px;
}
.btnVolverEF:hover, WorkFlowButtons .btnVolver:focus 
{
	display:inline-block;
	width:120px;
	height:35px;
	background-image: url(../../App_Theme/Imagenes/btnvolverh.png);
	margin-top: 10px;
}
/*--Termina efectos para Botones--*/

/*--Empieza efectos para textbox--*/ /*solo para FireFox*/
.txteffect {border:1px solid #a5acb2;border-radius: 3px 3px 3px 3px;}
.txteffect:focus {
    border-color: #56B4EF;
    color: #333333;
    outline: 0 none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    border-radius: 3px 3px 3px 3px;
}
/*--Termina efectos para textbox--*/

/*--Empieza efectos para dropdownlist--*/ /*solo para FireFox*/
.ddleffect {border:1px solid #a5acb2;border-radius: 3px 3px 3px 3px;}
.ddleffect:focus {
    border-color: #56B4EF;
    color: #333333;
    outline: 0 none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    border-radius: 3px 3px 3px 3px;
}
/*--Termina efectos para dropdownlist--*/

.WorkFlowButtons .btnVolver {margin-top: 10px;}
.WorkFlowButtons .btnConfirmar {margin-top: 10px;}

.CuadroCaptcha .lblCaptcha {text-align: center;color: #303030;font-family: Arial;font-size: 12px;font-weight: normal; }
.CuadroCaptcha .txtCaptcha {text-align: center;height: 26px; width:155px;color: #303030;font-family: Arial;font-size: 24px;font-weight: normal;}

.DJCuadroCentro {}

.DJCuadroHeader .CuadroHeader {*margin-bottom:-4px !important;} /* Sólo IE7 */
.DJCuadroHeader .CuadroTitulo {background:url(../../App_Theme/Imagenes/DJCuadroTituloG.png);width:700px;color:#303030;font-family:Calibri;font-size:22px;font-weight: Bold; padding: 0px 0px 12px 0px; letter-spacing: 2px;}
.DJCuadroHeader .CuadroTituloSinBack {width:700px;color:#303030;font-family:Calibri;font-size:20px;font-weight: Bold; padding: 0px 0px 5px 0px; letter-spacing: 4px;}
.DJCuadroCentro label {color:#303030;font-family:Arial;font-size:14px;font-weight: Normal;}
.DJCuadroCentro {background:url(../../App_Theme/Imagenes/DJCuadroTituloG.png);width:700px;}
.DJCuadroCentro .Asterisco {padding: 6px 0 0 8px;float: left;}
.DJCuadroCentro .busqueda {}

/*.DJCuadroCentro .btnLupa {margin-left: -30px;position: inherit;}*/
.DJCuadroCentro .txtNroCorr {color:#5b5b5b;font-family:Arial;font-size:16px;font-weight: bold; letter-spacing:1px;padding: 0 0 0 6px;}

.DJCuadroCentro .GrillaEntidades {color:#303030;font-family:Arial;font-size:10px;font-weight: Normal;}
.DJCuadroCentro .GrillaEntidades input {padding: 0px 0px 0px 15px}
.DJCuadroCentro .GrillaEntidades th {color:#ffffff;font-family:Arial;font-size:12px;font-weight: bold;letter-spacing: -1px;}
/*.DJCuadroCentro .GrillaEntidades .NroCorrelativo {color:#ffffff;font-family:Arial;font-size:12px;font-weight: bold;}*/

.DJCuadroCentro .DJCuadroConstituida label {padding: 2px 10px 0px 5px;letter-spacing: 1px;float: left;color:#303030;font-family:Arial;font-size:14px;font-weight: Normal;}
.DJCuadroCentro .DJCuadroConstituida input {padding: 5px 0px 5px 0px;float: left;}

.DJCuadroCentro .DJCuadroChkBuscar label {padding: 2px 2px 0px 5px;letter-spacing: 1px;float: left;color:#303030;font-family:Arial;font-size:14px;font-weight: Normal;margin-top: 12px;margin-bottom: 2px;}
.DJCuadroCentro .DJCuadroChkBuscar input {padding: 5px 0px 5px 0px;float: left;margin-left: 25px;margin-top: 12px;margin-bottom: 2px;}

.DJCuadroEntidad .imgAsterisco {color:red;font-family:Arial;font-size:20px;font-weight: Normal;padding: 4px 0 0 8px;float: left; height: 15px;}
.DJCuadroEntidad label {color:#303030;font-family:Arial;font-size:14px;font-weight: Normal;}
.DJCuadroEntidad {width:625px;}
.DJCuadroEntidad .Asterisco {padding: 6px 0 0 8px;float: left;}
.DJCuadroEntidad span {margin-right: 6px;text-align: right;color: #303030;font-family: Arial;font-size: 14px;font-weight: normal;}
.DJCuadroEntidad input {float: left;}
.DJCuadroEntidad select {float: left;}

.CambioDomDigCuadradoFooter {background:url(../../App_Theme/Imagenes/DJCuadroFooter.png);height:55px;width:625px;}

/*--Empieza Paso 3 del Representante--*/
.DJCuadroCentro .CambioDomDigNuevoRepre span {margin-right: 6px;text-align: right;background-color:#ededed;color: #303030;font-family: Arial;font-size: 14px;font-weight: normal;}
.DJCuadroCentro .DJCuadroPresen span {margin-right: 6px;text-align: right;background-color:#ededed;color: #303030;font-family: Arial;font-size: 14px;font-weight: normal;}
.DJCuadroCentro .DJCuadroPresen input {float: left;}
.DJCuadroCentro .DJCuadroPresen select {float: left;}
/*--Termina Paso 3 del Representante--*/

/*--Empieza Error Validacion--*/
.DJCuadroCentro .imgCruz {
    color: red;
    float: left;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 0 0 8px;
}
/*--Termina Error Validacion--*/

/*-- Empieza Panel de Validacion --*/
.DJValidHeader .CuadroHeader {*margin-bottom:-4px !important;} /* Sólo IE7 */
.DJValidHeader .CuadroTitulo {background:url(../../App_Theme/Imagenes/DJValidCenter.png);width:700px;color:#ffffff;font-family:Calibri;font-size:22px;font-weight: Bold; letter-spacing: 2px;padding: 0px 0px 10px 0px}
.DJValidCentro label {color:#ffffff;font-family:Arial;font-size:14px;font-weight: Normal;letter-spacing: 0.5px;}
.DJValidCentro {color:#ffffff;font-family:Arial;font-size:14px;font-weight: Normal;letter-spacing: 0.5px;}
.DJValidCentro ul {color:#ffffff;font-family:Arial;font-size:14px;font-weight: Normal;letter-spacing: 0.5px;margin-bottom:0px;margin-top: 0;}
.DJValidCentro {background:url(../../App_Theme/Imagenes/DJValidCenter.png);width:700px;}
.DJValidCentro .Asterisco {padding: 6px 0 0 8px;float: left;}
.DJValidCentro ul {color:#ffffff;font-family:Arial;font-size:14px;font-weight: Normal;letter-spacing: 0.5px;margin-bottom:0px;margin-top: 0;}
.DJValidCentro li {padding-top:5px;}
/*-- Termina Panel de Validacion --*/