.lblCiudad {text-decoration: line-through;color:#c9c9c9;font-family:Arial;font-size:14px;font-weight: Normal;}
.lblCalle {text-decoration: line-through;color:#c9c9c9;font-family:Arial;font-size:14px;font-weight: Normal;}
.lblNumero {text-decoration: line-through;color:#c9c9c9;font-family:Arial;font-size:14px;font-weight: Normal;}
.lblCP {text-decoration: line-through;color:#c9c9c9;font-family:Arial;font-size:14px;font-weight: Normal;}


